<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>The Eternity Webshop</title>
        <%- include partials/script.ejs %>
    </head>
    <body>
        <% if(dataUser !== '') { %>
              <%- include partials/header-login.ejs %>
        <% } %>
        <% if(dataUser === '') {%>
              <%- include partials/header-default.ejs %>
        <% } %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-3">
                  <div class="card border-light">
                      <img class="card-img-top w-25 rounded mx-auto d-block img-margin" src="https://minotar.net/body/<%= dataUser.realname %>" alt="body<%= dataUser.realname %>">
                      <div class="card-body">
                        <h5 class="card-title text-center"><%= dataUser.realname %></h5>
                      </div>
                      <div class="uk-card uk-card-default uk-card-body">
                        <ul class="uk-nav-default uk-nav-parent-icon" uk-nav>
                            <li><a href="#"><span class="uk-margin-small-right"><i class="fas fa-coins"></i></span> Point : </a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#"><span class="uk-margin-small-right"><i class="fas fa-globe"></i></span> Status : </a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#"><span class="uk-margin-small-right"><i class="fas fa-chess-queen"></i></span> Rank : </a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a href="#"><span class="uk-margin-small-right"><i class="fas fa-user-cog"></i></span> Setting</a></li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-6">
                    <div class="container">
                      <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <table class="uk-table uk-table-striped">
                            <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Point</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>50</td>
                                    <td>5000</td>
                                </tr>
                                <tr>
                                    <td>90</td>
                                    <td>9000</td>
                                </tr>
                                <tr>
                                    <td>150</td>
                                    <td>15000</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-6">
                          <table class="uk-table uk-table-striped">
                            <thead>
                                <tr>
                                    <th>Price</th>
                                    <th>Point</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>300</td>
                                    <td>30000</td>
                                </tr>
                                <tr>
                                    <td>500</td>
                                    <td>50000</td>
                                </tr>
                                <tr>
                                    <td>1000</td>
                                    <td>100000</td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                        <!--<label class="container uk-text-danger">True Wallet : 0938177120</label>-->
                      </div>
                    </div>
                    <div class="container">
                      <form>
                        <fieldset class="uk-fieldset">
                            <legend class="uk-legend">True Wallet</legend>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="Tel : เบอร์โทรศัพท์">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="number" placeholder="Amount : จำนวนเงินที่โอน">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input" type="text" placeholder="Reference : เลขที่อ้างอิง">
                            </div>
                            <div class="uk-margin">
                              <label class="">Date and Time : วันและเวลาที่โอน</label>
                              <input class="uk-input" type="datetime-local">
                            </div>
                            <div class="uk-margin">
                                <input class="uk-input btn btn-outline-success" type="submit">
                            </div>
                        </fieldset>
                      </form>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-3">

                </div>
            </div>
        </div>
        <%- include partials/footer.ejs %>
    </body>
</html>
<!-- <img src="https://minotar.net/body/<%= dataUser.realname %>/100.png" alt="body<%= dataUser.realname %>"> -->
